<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Filiate Program</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h4>Find a Store</h4>
                <ul>
                    <li><a href="#">421 Bà Hạt,P4,Q10,TP.HCM</a></li>
                    <li><a href="#">21/5 Trịnh Văn Cấn,Q1,TP.HCM</a></li>
                    <li><a href="#">Ngã Tư Hàng Xanh</a></li>
                    <li><a href="#">462/16 Nguyễn Tri Phương,P9,Q10,TPHCM</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h4>follow us</h4>
                <div class="icon-links">
                <a href="https://www.facebook.com/profile.php?id=100040830504302&mibextid=ZbWKwL"><i class="icon ti-facebook"></i></a>
                <a href="#"><i class="icon ti-twitter"></i></a>
                <a href="#"><i class="icon ti-instagram"></i></a>
                <a href="#"><i class="icon ti-youtube"></i>
                </div>
            </div>
        </div>
    </div>
    <p>©HUY HOANG VN - All Rights Reserved. Thiết kế web bởi sờ tiu đần</p>
</div>