<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>
    <link rel="stylesheet" href="/icons/themify-icons/themify-icons.css">
    <!-- <link rel="stylesheet" href="/main/bootstrap.min.css"> -->
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sidebar-Dev</title>

    <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->

</head>