<div class="header">
    <ul class="navs">
        <li><a href="">Giày Nam</a></li>
        <li><a href="">Balo - Túi</a></li>
        <li><a href="">New & Featured</a></li>
        <li><a href="">Khuyễn Mãi</a></li>
        <li>
            <a href="">
                Phụ Kiện
                <i class=" nav-arrow-down ti-angle-down"></i>
            </a>
            <ul class="subnav">
                <li><a href="">Vớ</a></li>
                <li><a href="">Xịt vệ sinh giày</a></li>
                <li><a href="">Đế lót</a></li>
            </ul>
        </li>
    </ul>
    <div class="search-btn">
        <div class="search-icon ti-search">

        </div>
    </div>
    <input type="text" class="search" id="timKiem" name="timKiem" placeholder="Search">
    <div class="login">
        <ul class="navs">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>    
        </ul>
    </div>
</div>
<style>
    * {
    padding:0%;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height:46px;
    background-color:#000;
    position:fixed;
    top:0;
    left:0;
    right:0;
}
.navs{
    display:inline-block;
}
.navs, .subnav{
    list-style: none;
}
.navs > li{
    display: inline-block;

}
.navs li{
    position: relative;
}
.navs > li > a{
    color: #ccc;
    text-transform: uppercase;
}
.navs li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display:block;
}
.navs .subnav li:hover a, 
.navs > li:hover > a{
    color:#000;
    background-color: #ccc;
}
.navs li:hover .subnav{
    display:block;
}
.navs .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top:100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}.navs .subnav a{
    color:#000;
    padding: 0 12px;
    line-height: 38px;
}
.navs .nav-arrow-down{
    font-size: 14px;
}
.header .search{
    /* display:inline-block; */
    height:46px;
    font-size: 17px;
    float: right;
    border-radius: 5px;
}
.header .search-btn{
    float: right;
    padding:0 21px;
}
.header .search-btn:hover{
    background-color: #f44336;
    cursor:pointer;
}
.header .search-icon{
    color:#fff;
    font-size: 20px;
    line-height: 46px;

}
.header .login{
    float: right;
    font-size: 17px;
}
.danhmucmuahang img {
    object-fit: cover;
}
.slider{
    min-height: 1000px;
    background-color: gray;
}
</style>